﻿<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>UR Phoenix</title>
    <script src="https://cdn.jsdelivr.net/npm/semantic-ui@2.4.0/dist/semantic.min.js" 
            integrity="sha256-x1fC6BXl6BwnUhfQqqqC0Fd/n12wH+u8u9va6+E7xaA=" 
            crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/semantic-ui@2.4.0/dist/semantic.min.css" 
            integrity="sha256-9mbkOfVho3ZPXfM7W8sV2SndrGDuh7wuyLjtsWeTI1Q=" 
            crossorigin="anonymous">
</head>

<body class="dimmed dimmable">
    <noscript>
        &lt;div class="nojs-message"&gt; Please enable JavaScript in your browser to access Site UR5 Monitor. &lt;/div&gt;
    </noscript>
    <div id="docs-loading-dimmer" class="ui active page dimmer">
        <div class="content">
            <div class="center">
                <div class="ui large text loader">
                    <div class="ui inverted red header">
                        Loading manager...
                        <div class="sub header">
                            UR Phoenix v1.0
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
<div id="root">
    @RenderBody()
</div>
<script>
    (function() {
        var delay = 1500
        var dimmer = document.querySelector('#docs-loading-dimmer');
        dimmer.style.pointerEvents = 'none';
        dimmer.style.transition = 'opacity ' + delay + 'ms linear';

        function removeDimmer() {
            dimmer.style.opacity = '0';
            setTimeout(function() {
                    var dimmer = document.querySelector('#docs-loading-dimmer');
                    document.body.removeChild(dimmer);
                    document.body.setAttribute("class", "");
                    window.removeEventListener('load', removeDimmer);
                },
                delay);
        }

        window.addEventListener('load', removeDimmer);
    }());
</script>

@RenderSection("Scripts")
    
    <style>
        body {
            background: #DADADA;
            font-family: 'Lato', 'Helvetica Neue', Arial, Helvetica, sans-serif;
        }
        html,
        body {
            height: 100%;
        }
    </style>
    </body>
</html>